.mdui-toolbar {
    color: white;
}
#toc a {
    color: white !important;
}
.mdui-card-media {
    overflow: hidden;
}
.mdui-card-media img, .mdui-card-media video {
    width: 100% !important;
}
.container .content {
    color: white;
}
.twikoo {
    padding: 20px 30px;
}
.mdui-card {
    overflow: visible !important;
}