<div style="padding:0px 16px;" id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    setTimeout(function () {
        var gitalk = new Gitalk({
            clientID: '{{ site.data.site.comment.gitalk.client_id }}',
            clientSecret: '{{ site.data.site.comment.gitalk.client_secret }}',
            repo: '{{ site.data.site.comment.gitalk.repo }}',
            owner: '{{ site.data.site.comment.gitalk.owner }}',
            admin: {{ site.data.site.comment.gitalk.admin | jsonify }},
            {% if page.id %}
            id: '{{ page.id | split:"/" | last }}',
            {% else %}
            id: '{{ page.name | split:"." | first }}',
            {% endif %}
            distractionFreeMode: false,
            title: '{{ page.title }}'
        });
        gitalk.render('comments');
    }, 1000);
</script>