<div style="padding:0px 16px;" id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    setTimeout(function () {
        var gitalk = new Gitalk({
            clientID: '{{ site.data.site.comment.gitalk.client_id }}',
            clientSecret: '{{ site.data.site.comment.gitalk.client_secret }}',
            repo: '{{ site.data.site.comment.gitalk.repo }}',
            owner: '{{ site.data.site.comment.gitalk.owner }}',
            admin: {{ site.data.site.comment.gitalk.admin }},
            id: '{{ page.title }}',      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
        });
        gitalk.render('comments');
    }, 1000);
</script>